.past-rides {
    display: flex;
    margin: 15px;
    border: 0px;
    box-sizing:border-box;
    width: 50%; 
    flex-direction: column;
    height: 70%;
}

.past-rides__todo{
    display: flex;
    margin: 15px;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom left, orangered, rgb(255, 145, 0));
    border: 2px solid black;

}

.past-rides__todo-buttons-container {
  display: flex;
  flex-direction: column;

}

.past-rides__todo-button {
  border-radius: 2px;
  display: flex;
  width: 5%;
  
}

.past-rides-img__container {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  
  
}

.past-rides-img {
  width: 100px;
  height: 100px;
  
}

#x-button {
  background-color: red;
  width: 100%;
  padding: 2px;
  margin: 2px;
}

#edit-button {
  background-color: rgb(42, 152, 216);
  width: 100%;
  padding: 2px;
  margin: 2px;
}
